<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FNDB" connectionString="server=localhost;user id=root;database=fogasi_naplo"/>
		<add name="TDB" connectionString="server=localhost;user id=root;database=fogasi_naplo_teszt"/>
	</connectionStrings>
</configuration>